.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}
.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

main {
  padding-left: 300px;
}
.no-sidebar main {
  padding-left: 0;
}

@media only screen and (max-width: 992px) {
  main {
    padding-left: 0;
  }
  .iframe-container {
    padding-top: 200%;
  }
}

#sidenav {
  height: calc(93% + 60px);
}
