<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- build:css -->
  <link rel="stylesheet" href="css/materialize.css">
  <link rel="stylesheet" href="css/main.css">
  <!-- endbuild -->
  <title>Gitlab CI for Drupal - Reports dashboard</title>
</head>
<body>

  <div class="fixed-action-btn">
    <a id="toggle_sidenav" class="btn-floating btn-large waves-effect waves-light blue lighten-2 toggle-sidenav"><i class="material-icons">menu</i></a>
  </div>

  <aside>
    <ul id="sidenav" class="sidenav sidenav-fixed">
      <li><a class="static waves-effect" href="#home"><i class="tiny material-icons">home</i>Home</a></li>
      <li>
        <div class="divider"></div>
      </li>
      {{#menus}}
      <li>
        <a class="job waves-effect" data-job="{{id}}" data-report="reports/report-{{id}}/{{report}}"><i class="tiny right material-icons job-status">help_outline</i>{{title}}</a>
      </li>
      {{/menus}}
      <li>
        <div class="divider"></div>
      </li>
      <li><a class="static waves-effect" href="#about"><i class="tiny material-icons">help_outline</i>About</a></li>
    </ul>
  </aside>

  <main id="content">
    <div id="info" class="hide">{{> ../templates/infos }}</div>

    <div id="main" class="hide">
      <div class="progress">
        <div class="indeterminate"></div>
      </div>
    </div>

    <script class="template" id="missing" type="text/template">{{> ../templates/missing }}</script>

    <div class="iframe-container">
      <iframe id="report" frameBorder="0"></iframe>
    </div>
  </main>

  <script class="template" id="home" type="text/template">{{> ../templates/home }}</script>
  <script class="template" id="about" type="text/template">{{> ../templates/about }}</script>

  <!-- build:js -->
  <script src="js/vendor.js"></script>
  <script src="js/main.js"></script>
  <!-- endbuild -->
  
  <script type="text/javascript">
    const dataJobs={ {{#jobs}}"{{id}}": {"status": "{{status}}", "duration": "{{duration}}", "url": "{{url}}"}, {{/jobs}} };
    const dataDirs=[{{#dirs}}"{{.}}",{{/dirs}}[]];
  </script>
</body>
</html>