<div class="row">
  <div class="col s12 m12">
    <div class="card-panel">
    {{#jobs}}
      <span class="hide job job-{{id}}">
        <table>
          <thead>
            <tr>
              <td>Stage</td>
              <td>Gitlab CI job</td>
              <td>Status</td>
              <td>Duration (s)</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{stage}}</td>
              <td><a href="{{url}}" target="_blank" title="Access Gitlab CI job log">{{id}} <i class="tiny material-icons">open_in_new</i></a></td>
              <td>{{status}}</td>
              <td>{{duration}}</td>
            </tr>
          </tbody>
        </table>
      </span>
    {{/jobs}}
    </div>
  </div>
</div>